<div>
	<h2>Single Restaurant: {{restaurant.name}}</h2>
	<img class="item-img" src="{{restaurant.image}}"/>
	<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    See All Menus
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    
        

            {{#each restaurant.Menus}} 
                <article >
                    <li><hr class="dropdown-divider"></li>
                     
                   <div class="btn-group dropend">
                     <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"> {{title}} </button>      
                     
                     
                    </div>
                    
                </article>
        
            {{/each}}
  </ul>



    
    <a class="btn btn-primary" href="/restaurants" role="button">See All Restaurants List</a>
</div>

	<a class="btn" href="/restaurants">See Restaurant List</a>
</div>